<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | DevTracker</title>
    <link rel="stylesheet" href="/static/css/syle.css">
</head>
<body>
    <div class="container">
        <h1>Perfil</h1>
        <p>Olá, <strong>{{request.user.username}}</strong>!</p>
        <div class="nav">
            <a href="/projects/dashboard/">Ir ao Dashboard</a>
            <a href="/accounts/logout/">Sair</a>
        </div>    
    </div>
    
</body>
</html>